{% extends "base.html" %}

{% block title %}Songs{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Songs</h1>
    <a href="{{ url_for('main.new_song') }}" class="btn btn-info">+ New Song</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Duration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.song_title }}</td>
                <td><a href="{{ url_for('main.view_album', album_id=song.album.album_id) }}">{{ song.album.album_title }}</a></td>
                <td><a href="{{ url_for('main.view_artist', artist_id=song.album.artist.artist_id) }}">{{ song.album.artist.artist_name }}</a></td>
                <td>{{ song.duration }}</td>
                <td><a href="{{ url_for('main.view_song', song_id=song.song_id) }}" class="btn btn-sm btn-info">View</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
